<!-- app/views/products/index.html.erb -->
<h1>Products</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %>
      <p>Category: <%= product.category.name %></p>
      <p><%= product.description %></p>
    </li>
  <% end %>
</ul>
